<div class="body-content">
    <h1>修改发布信息</h1>
    <br/>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon1">标题</span>
        <input type="text" class="form-control" placeholder="Username" name="titleInput" aria-describedby="basic-addon1" [(ngModel)]="trade.title">
    </div>
    <br/>
    <form class="form-inline">
        <div class="form-group">
            <label for="typeSelect">分类</label>
            <select class="custom-select ml-2" id="typeSelect" [(ngModel)]="trade.type" name="typeSelect">
                <option value="1">图书音像</option>
                <option value="2">电子商品</option>
                <option value="3">家居生活</option>
                <option value="4" selected="selected">其他</option>
            </select>
        </div>
    </form>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">描述</span>
        <textarea class="form-control" placeholder="描述" aria-describedby="basic-addon2" rows="5" name="descriptInput" [(ngModel)]="trade.description.String"></textarea>
    </div>
    <br/>
    <button class="btn btn-primary" (click)="submit()">确认修改</button>
</div>