<div *ngIf="pagedTrades">
    <div>
        <ul class="body-list">
            <li *ngFor="let trade of pagedTrades">
                <div class="row width-full m-0">
                    <div class="pl-4 pt-4 pb-4">
                        <div class="float-left mr-4"><p class="m-0" style="line-height: 48px;">{{trade.sell | BoolToSell}}</p></div>
                        <div class="float-left">
                            <a [routerLink]="['/trade/' + trade.id]">{{trade.title}}</a>
                        </div>
                        <div class="float-right">
                            <span class="float-right">发布人: {{trade.creator_name}}</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="body-page">
        <ngb-pagination [collectionSize]="collectionSize" [page]="currentPage" (pageChange)="setPage($event)"></ngb-pagination>
    </div>
</div>
<div *ngIf="!pagedTrades" class="body-content">
    <h4>你还没有发布任何信息，快去发布一条看看吧！</h4>
</div>