<!--
<header class="body-header">
    <div class="header-fl col-12" style="min-height: 4em">
    <div class="float-left col-6">
        <h1>所有发布</h1>
    </div>
    <div class="float-right">
        <label> 搜索标题：</label>
        <input type="text" placeholder="title" style="line-height: 2em"/>
        <label for="active" class="ml-4"> 活动的 </label>
        <input type="checkbox" checked="checked" name="active" />
    </div>
    </div>
    <div class="float-left ml-3">
        <button (click)="postsell()" class="btn btn-primary ml-2">我要卖</button>
        <button (click)="postbuy()" class="btn btn-primary ml-2">我想买</button>
    </div>
</header>
-->
<header class="header-list">
    <div class="d-table-cell float-left">
    <form class="form-inline sf">
        <label for="searchBar" class="mr-3">搜索标题</label>
        <input type="text" class="form-control" placeholder="..." id="searchBar" name="searchString" (ngModelChange)="searchChange($event)" [(ngModel)]="searchString">
        <button type="submit" class="sb"><i class="icon-search"></i></button>
    </form>
    </div>
    <div class="float-right">
        <form class="form-inline">
            <div class="form-group">
                <label for="typeSelect">分类</label>
                <select class="custom-select ml-2" id="typeSelect" (change)="selectType($event.target.value)">
                    <option value="0" selected="selected">all</option>
                    <option value="1">图书音像</option>
                    <option value="2">电子商品</option>
                    <option value="3">家居生活</option>
                    <option value="4">其他</option>
                </select>
            </div>
            <div class="checkbox mr-4 ml-4">
                <label>
                    正在进行<input type="checkbox" class="ml-3" name="activeCheck" (change)="selectActive($event)" [(ngModel)]="isActive">
                </label>
            </div>
        </form>
    </div>
</header>
<div *ngIf="pagedTrades">
    <div>
        <ul class="body-list">
            <li *ngFor="let trade of pagedTrades">
                <div class="row width-full m-0 content">
                        <div class="float-left ml-4 sell">
                            <p class="m-0" style="line-height: 48px;">{{trade.sell | BoolToSell}}</p>
                        </div>
                    <div class="col-7">
                        <div class="list-title">
                            <a [routerLink]="['/trade/' + trade.id]">{{trade.title}}</a>
                        </div>
                        <div>
                            <span>发布人: {{trade.creator_name}}</span>
                        </div>
                    </div>
                    <div class="col-3 list-status float-right">
                        <span>{{trade.type | valueToType}}</span>
                        <span class="ml-4">{{trade.active | boolToActive}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="body-page">
        <ngb-pagination [collectionSize]="collectionSize" [page]="currentPage" (pageChange)="setPage($event)"></ngb-pagination>
    </div>
</div>
<div *ngIf="!pagedTrades" class="body-content">
    <h4>No item</h4>
</div>