<div class="body-content">
    <h1>发布{{trade.sell | BoolToSell}}</h1>
    <br/>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon1">标题</span>
        <input type="text" class="form-control" placeholder="标题" name="titleInput" aria-describedby="basic-addon1" [(ngModel)]="trade.title">
    </div>
    <br/>
    <form class="form-inline">
        <div class="form-group">
            <label for="typeSelect">分类</label>
            <select class="custom-select ml-2" id="typeSelect" [(ngModel)]="trade.type" name="typeSelect">
                <option value="1">图书音像</option>
                <option value="2">电子商品</option>
                <option value="3">家居生活</option>
                <option value="4" selected="selected">其他</option>
            </select>
        </div>
    </form>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">描述</span>
        <textarea class="form-control" placeholder="描述" aria-describedby="basic-addon2" rows="5" name="descriptInput" [(ngModel)]="description.String"></textarea>
    </div>
    <br/>
    <form>
    <div class="form-group">
        <label for="uploadPic" class="ml-3 mr-3">图片上传</label>
        <input type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" id="uploadPic" name="uploadPic" multiple/>
        <p class="help-block ml-3">上传文件支持JPG格式</p>
    </div>
    </form>
    <button class="btn btn-primary" (click)="submit()">确认发布</button>
</div>