<div *ngIf="user">
    <header class="body-header">
        <div class="col-6 float-left">
            <h1>我的信息</h1>
        </div>
    </header>
    <div class="body-content">
        <ul>
            <li>
                <span>用户名</span>
                <span>{{user.username}}</span>
            </li>
            <li>
                <span>学号</span>
                <span>{{user.student_id}}</span>
            </li>
        </ul>
        <button class="btn btn-primary mt-3" (click)="changePassword()">更改密码</button>
        <div *ngIf="changepassword" class="mt-3">
            <label>原密码</label>
            <input class="form-control" type="text" placeholder="原密码" [(ngModel)]="submission.oldPassword"/>
            <label class="mt-2">新密码</label>
            <input class="form-control" type="text" placeholder="新密码" [(ngModel)]="submission.newPassword"/>
            <div class="mt-4">
                <div class="float-left mr-3 pt-2">
                    <button class="btn btn-primary" (click)="submit()" type="submit">提交</button>
                </div>
                <div class="float-left">
                    <my-alert></my-alert>
                </div>
            </div>
        </div>
    </div>
</div>
