    <header class="col-12 home-top">
    </header>
    <div class="col-12">
    <div class="float-left p-0 m-0 home-pic">
    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="../../assets/img/home-img1.jpeg" alt="欢迎" height="600px" width="100%" />
            <div class="carousel-caption">
                <h3>复旦二手信息发布平台</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../assets/img/home-img2.jpeg" alt="欢迎" height="600px" width="100%" />
            <div class="carousel-caption">
                <h3>复旦二手信息发布平台</h3>
            </div>
        </ng-template>
    </ngb-carousel>
    </div>
    </div>
    <div class="jumbotron float-left m-0 home-login">
            <div class="col-8 m-0">
                <my-alert></my-alert>
                <router-outlet></router-outlet>
            </div>
    </div>
    <footer class="col-12 float-left home-bottom">
    </footer>
